[project]
	description = Hello World- We are now on GitHub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajesh Singh (rajeshnuevot)
[access "refs/for/refs/*"]
	read = group user/Rajesh Singh (rajeshnuevot)
	push = group user/Rajesh Singh (rajeshnuevot)
	label-Code-Review = -2..+2 group user/Rajesh Singh (rajeshnuevot)
	label-Verified = -1..+1 group user/Rajesh Singh (rajeshnuevot)
	rebase = group user/Rajesh Singh (rajeshnuevot)
	removeReviewer = group user/Rajesh Singh (rajeshnuevot)
	submit = group user/Rajesh Singh (rajeshnuevot)
[access "refs/heads/*"]
	read = group user/Rajesh Singh (rajeshnuevot)
	create = group user/Rajesh Singh (rajeshnuevot)
	push = +force group user/Rajesh Singh (rajeshnuevot)
	pushMerge = group user/Rajesh Singh (rajeshnuevot)
[access "refs/tags/*"]
	push = +force group user/Rajesh Singh (rajeshnuevot)
	pushTag = group user/Rajesh Singh (rajeshnuevot)
	pushSignedTag = group user/Rajesh Singh (rajeshnuevot)
